<!doctype html>
<html>
    <head>
        <title>Hello Marko</title>
    </head>
    <body>
        <header role="banner" id="foo">
            <h1>My favorite colors</h1>
        </header>
        <main role="main">
            <ul.colors role="carousel">
                <li for(color in input.colors)>
                    ${color}
                </li>
            </ul>
        </main>
    </body>
</html>